# Python compiled files
__pycache__/
**/__pycache__/

.venv/

.idea/

Sanity_Lose_It/

Sanity_Lose_It.zip


#Ignore large output files
output/ver3/ver3.json
output/ver4/ver4_for3.json
output/ver6/ver6_test_3.json
output/ver7/ver7_finale_4.json
output/ver7/ver7_finale_3.json
output/ver10/